* {
	box-sizing: content-box;
}
.elipse {
  position: absolute;
  width: 455.28px;
  height: 429px;
  left: 950px;
  top: 779px;
  border-radius: 50%;
  background: #f5d547;
}

.circle {
  position: absolute;
  width: 455.28px;
  height: 429px;
  left: 1609px;
  top: 100px;
  border-radius: 50%;
  background: #3772ff;
}

.poly {
  position: absolute;
  width: 388.32px;
  height: 397.32px;
  left: -200px;
  top: 325.43px;
  background: #f61067;
  border-radius: 11px;
  transform: rotate(-25deg);
}

.questiontextbox {
  position: absolute;
  left: 10%;
  right: 28%;
  top: 32%;
  bottom: 60%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
}

.topnav {
        overflow: hidden;
        background-color: #333;
      }

      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

      .topnav a.active {
        background-color: blue;
        color: white;
      }

      .topnav-right {
        float: right;
      }

      #rightBox{
        position: absolute;
        width: 578px;
        height: 580px;
        left: 1000px;
        top: 355px;

        background: #090C9B;
        border-radius: 50px;
      }
      #leftBox{
        position: absolute;
        width: 578px;
        height: 580px;
        left: 350px;
        top: 355px;

        background: #3772FF;
        border-radius: 50px;
      }