* {
  box-sizing: content-box;
}
body {
  font-size: 14px;
}
.background {
  width: 100%;
  height: 1024px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.background1 {
  width: 100%;
  height: 1024px;
  background: url("../images/v26_5742.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 47px;
  overflow: hidden;
}
.black_background {
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 30, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 47px;
  overflow: hidden;
}
.blue_circle {
  width: 410px;
  height: 410px;
  background: rgba(55, 114, 255, 1);
  opacity: 1;
  position: absolute;
  top: 614px;
  left: 1108px;
  border-radius: 50%;
}
.yellow_circle {
  width: 410px;
  height: 410px;
  background: rgba(245, 213, 71, 1);
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 0px;
  border-radius: 50%;
}
.questions_background {
  width: 757px;
  height: 640px;
  background: rgba(9, 12, 155, 1);
  opacity: 1;
  position: absolute;
  top: 344px;
  left: 594px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.dialouge_positioning {
  width: 674px;
  height: 462px;
  background: url("../images/v26_5747.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 591px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.large_dialouge_box {
  width: 671px;
  height: 177px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.small_dialouge_box {
  width: 671px;
  height: 40px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 422px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.white_standard_text_top {
  width: 673px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 131px;
  left: 0px;
  font-family: Lusitana;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.131px{
  top: 131px;
  left: 0px;
  position: absolute;
}
.white_standard_text_bottom {
  width: 673px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 391px;
  left: 0px;
  font-family: Lusitana;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.white_standard_text {
  width: 673px;
  color: rgba(255, 255, 255, 1);
  font-family: Lusitana;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.large_white_text {
  width: 1000px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 159px;
  left: 304px;
  font-family: Montserrat;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: right;
}
.white {
  color: #fff;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: blue;
  color: white;
}

.topnav-right {
  float: right;
}
